html,body{
    background-color :rgb(20,20,20);
    color: #e5e5e5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
}
input,select{
    outline-color: #e50914;
    color: black;
}

h1{
    color: #e50914;
    text-align:center;
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 
}

footer{
    text-align:center;
}